# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_DB=access_control_service
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Frontend
NODE_ENV=development
FRONTEND_PORT=3000
BUN_PUBLIC_API_BASE_URL=http://localhost:8000
BUN_PUBLIC_ENCRYPTION_SECRET=J0£\=i9=XHT{i&v9njwRj~Oo3kzy0Hk[77Jwz7N+ms1KOJ^/e;

# Backend
HOST=0.0.0.0
PORT=8000
EXPIRES_IN=10800

## Enable auto-reload in development
RELOAD=true

## Logging
LOG_LEVEL=debug
ACCESS_LOG=true

## Workers (recommended for development)
WORKERS=1

## Lifespan handling
LIFESPAN=auto

## HTTP protocol implementation
HTTP=auto

## WebSocket implementation
WS=auto

## Proxy headers (if behind nginx / load balancer)
PROXY_HEADERS=true
FORWARDED_ALLOW_IPS=*

## Limit max requests before restart (helps memory leaks)
LIMIT_MAX_REQUESTS=