# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=4PEtD.DxSLOp619n&X}3~yAPYhg[J3j4wYqX!,b]E8.bm(qVx&
POSTGRES_DB=access_control_service
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Traefik routing
HOST=yourdomain.com

# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
EXPIRES_IN=10800

## Disable auto-reload in production
RELOAD=false

## Logging
LOG_LEVEL=warning
ACCESS_LOG=false

## Workers (recommended for production)
WORKERS=4

## Lifespan handling
LIFESPAN=auto

## HTTP protocol implementation
HTTP=auto

## WebSocket implementation
WS=auto

## Proxy headers (behind Traefik)
PROXY_HEADERS=true
FORWARDED_ALLOW_IPS=*

## Limit max requests before restart (helps memory leaks)
LIMIT_MAX_REQUESTS=10000
